/* Header stuff */
header.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
}

header a.nav-item {
  height: 64px !important;
  position: relative;
  min-width: 0 !important;
  white-space: nowrap;
  width: auto !important;
}

.first_icon {
  margin-left: 0 !important;
}

.last_icon {
  margin-right: 0 !important;
}

hr {
  display: block;
  position: absolute;
  height: 2px;
  margin: 0 !important;
  left: 0;
  top: 95px;
  border: none;
  padding: 0 !important;
  width: 100%;
  background: #000000;
  opacity: 0.2;
}

.nav-item:hover .blue-line {
  height: 64px;
  opacity: 0.1;
  transition: all 0.15s;
}

.nav-text {
  font-size: 16px;
  font-weight: 600;
  line-height: 64px;
  transition: color 0.15s;
}

.nav-item.tab_selected .blue-line {
  opacity: 1 !important;
  height: 2px;
  transition: all 0.15s;
}

.nav-item.tab_selected .nav-text {
  color: #007aba;
}

.nav-item:hover .nav-text {
  color: #007aba !important;
  transition: color 0.5s;
}

.nav-tabs {
  margin-top: 32px;
}

.nav-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
}

.drawer-controls {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background: white;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 12px;
  padding-bottom: 0px;
}

.drawer-body {
  margin-top: 80px;
  padding: 0 0;
}

.drawer-body ul li a div {
  line-height: 40px;
}

.drawer-body a {
  text-decoration: none;
  color: #4c4c4c;
}

.drawer-body li a:hover div {
  background: #e6f2f8;
}

.drawer-body li {
  height: 40px;
}

.fold.open .drawer-controls {
  box-shadow: none !important;
}

.shadow {
  background: #000;
  opacity: 0;
  transition: opacity 0.25s;
  position: fixed;
  width: 0;
  height: 0;
  z-index: 1;
}

.fold.open+.shadow {
  opacity: 0.4;
  width: 100%;
  transition: opacity 0.25s;
  height: 100%;
}

/* General stuff */

.container {
  padding: 0;
  max-width: 1280px;
}

.card {
  width: 408px;
  max-width: 100%;
  height: 400px;
  margin-bottom: 24px;
}

.card .card-title {
  padding-bottom: 16px;
}

.blue-line {
  height: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #007aba;
  opacity: 0;
  transition: all 0.15s;
  z-index: 1;
}

.jumbotron {
  height: 515px;
  max-height: 60vh;
  padding-top: 96px !important;
}

.jumbotron img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col-md-8,
.col-md-9,
.col-md-2 {
  padding: 0;
}

.row.the-cards {
  margin: 0 -12px;
  align-content: center;
}

.bg-black {
  background: #000;
}

.mt-244 {
  margin-top: 246px;
}

.mt-124 {
  margin-top: 124px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-112 {
  margin-bottom: 112px;
}

.container h4 {
  font-weight: 400 !important;
  color: #4c4c4c;
}

h5 {
  font-size: 20px !important;
  line-height: 28px;
}

.w-256px {
  max-width: 256px;
}

.small {
  font-size: 10px;
}

.bg {
  background: #4c4c4c;
  color: white;
}

.row {
  margin: 0 !important;
}

/* Footer stuff */
.footer a:hover {
  opacity: 0.5;
  transition: 0.15s opacity;
  text-decoration: none;
}

.footer a {
  transition: 0.15s opacity;
}

.footer .social-icons a {
  margin: 16px;
  height: 32px;
  width: 32px;
}

footer li {
  font-size: 14px;
  line-height: 32px;
}

/* Screens larger 1280px or larger*/
@media only screen and (max-width: 1279px) {
  /* General stuff*/
  .row.the-cards {
    width: 840px;
    max-width: 100%;
  }

  .jumbotron {
    padding: 0 !important;
  }

  .container {
    padding: 0 16px;
  }

  /* Footer stuff*/
  .footer .container,
  .footer .container .row {
    padding-bottom: 0 !important;
  }
}

/* Hamburger added at width <865px */
@media only screen and (min-width: 865px) {
  /* Header stuff */
  .drawer-controls {
    display: none;
  }

  /* Footer stuff */
  .social-icons {
    margin-left: auto !important;
  }
}

/* Hamburger */
@media only screen and (max-width: 865px) {

  /* Header stuff */

  header.navbar {
    display: none;
  }

  hr {
    top: 64px;
  }

  .nav-icon {
    padding: 2px;
    margin-left: 12px;
    margin-right: 12px;
    height: 32px;
    width: 32px;
  }

  .logo {
    display: block;
    height: 100% !important;
    margin: 0 auto;
    text-align: center;
  }

  svg.hamburger {
    transform-origin: 50% 50%;
    transition: all 0.25s;
    fill: #bdbdbd;
    padding-top: 4px;
  }

  .folded svg {
    transform-origin: 50% 50%;
    transition: all 0.25s;
  }

  .folded #line_1 {
    transform: rotate(0deg);
  }

  .folded #line_2 {
    opacity: 1;
  }

  .folded #line_3 {
    transform: rotate(0deg);
  }

  .drawer {
    width: 256px;
    transition: 0.25s all;
  }

  #line_1 {
    transform: rotate(45deg);
    transform-origin: 25% 50%;
    transition: all 0.25s;
  }

  #line_2 {
    opacity: 0;
    transition: all 0.25s;
  }

  #line_3 {
    transform: rotate(-45deg);
    transform-origin: 25% 50%;
    transition: all 0.25s;
  }

  .logo img {
    height: 100%;
  }

  /* General stuff */

  h1 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }
  
  .w-256px{
	  margin-top:24px!important;
}

/* Mobile phones */
@media only screen and (max-width: 418px) {

  /*Header*/
  .logo img {
    max-width: 175px;
    height: auto;
    margin-top: 6px;
  }

  /* General stuff */
  h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
  }

  h4 {
    font-size: 20px;
  }

  .mt-244 {
    margin-top: 128px;
  }

  .mt-124 {
    margin-top: 64px;
  }

  .jumbotron {
    height: 515px;
    max-height: 192px;
    margin-top: 64px !important;
  }

  .card-title {
    font-size: 22px;
  }

  .card-text {
    font-size: 16px;
    line-height: 22px;
  }

  .card {
    min-height: calc(100vw - 16px);
    height: auto;
  }

  /* Footer stuff */
  .footer .social-icons a {
    margin: 12px;
    display: inline-block;
  }

  .social-icons {
    width: 100%;
    margin-top: 32px !important;
    margin-bottom: 32px !important;
    justify-content: space-around;
  }

  .w-256px {
    margin-top: 32px !important;
  }

  .bg-black img {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}